 <% if @list.errors.any? %>
    <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
<% end %>
 
<%= form_for @list do |t| %>
    <%= t.label :name, 'Nome da lista' %>
    <%= t.text_field :name %>
    <%= t.submit 'Criar' %>
<%end%>