<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>
<%=link_to "Controlar receitas",control_recipes_path%>
<%= form_tag(search_recipes_path, method: "get") do %>
  <%= label_tag(:q, "Buscar") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Pesquisar uma receita") %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Enviar uma receita', new_recipe_path %>
  <%= link_to 'Minhas receitas', my_recipes_path %>
  <%= link_to 'Minhas Listas', lists_path %>
<%end%>
<%= link_to 'Criar tipo de receita', new_recipe_type_path %>

<% @recipes.each do |recipe| %>
  <h1><%= link_to recipe.title, recipe %></h1>
  <ul>
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time_min %></li>
  </ul>
<% end %>

